body {
  font-family: "YakuHanJPsLight", "proxima-nova", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
  margin: 0 10px;
}
@media all and (max-width: 768px) {
  body {
    margin: auto;
  }
}
/* header */
header {
  max-width: 1080px;
  height: 100px;
  line-height: 100px;
  margin: auto;
}
@media all and (max-width: 768px) {
  header {
    margin: 0 3.125%;
    height: 72px;
    line-height: 72px;
  }
}
header .logo {
  margin: auto;
  letter-spacing: 0.1em;
  font-size: 36px;
}
@media all and (max-width: 768px) {
  header .logo {
    font-size: 28px;
    text-align: center;
  }
}
/* footer */
footer {
  max-width: 1080px;
  margin: 60px auto 0;
  height: 60px;
  line-height: 60px;
}
@media all and (max-width: 768px) {
  footer {
    margin: auto;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
}
footer .copy {
  margin: auto 0;
}
@media all and (max-width: 768px) {
  footer .copy {
    font-size: 12px;
  }
}
section {
  margin: auto;
}
@media all and (max-width: 768px) {
  section {
    margin: 0 auto;
  }
}
section:nth-of-type(n+2) {
  padding: 80px 0;
}
@media all and (max-width: 768px) {
  section:nth-of-type(n+2) {
    margin: 0 3.125%;
    padding: 32px 0;
    border-bottom: dashed 1px #333;
  }
}
.container {
  max-width: 1080px;
  margin: auto;
}
.container__title {
  letter-spacing: 0.1em;
  font-size: 24px;
  margin: auto;
  position: relative;
}
.container__title::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border: solid 6px #aaf;
  width: 90px;
  z-index: 1;
  opacity: 0.3;
}
@media all and (max-width: 768px) {
  .container__title {
    margin: auto;
    font-size: 24px;
    text-align: center;
  }
}
/* MV */
#mv {
  background: url("../img/img_mv.jpg") no-repeat 0 -160px;
  min-height: 480px;
  background-size: cover;
}
@media all and (max-width: 768px) {
  #mv {
    background: url("../img/img_mv.jpg") no-repeat center center;
    background-size: 120%;
    min-height: 213px;
    height: 66.567vw;
  }
}
/* About */
.about__text {
  margin: 32px auto 0;
  line-height: 1.5;
  font-size: 20px;
  font-weight: bold;
}
@media all and (max-width: 768px) {
  .about__text {
    margin: 20px auto 0;
    font-size: 14px;
    font-weight: bold;
  }
}
/* Service */
#service {
  background: #f0f8ff;
}
.serviceList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin: 32px auto 0;
  padding: 0;
  list-style: none;
}
@media all and (max-width: 768px) {
  .serviceList {
    margin: 28px auto 0;
  }
}
.serviceList__item {
  position: relative;
  width: 300px;
  height: 300px;
  background: #eff;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 24px;
  opacity: 1;
  transition: 0.3s;
  border: solid 2px #333;
  border-radius: 6px;
}
.serviceList__item:first-child::after {
  display: block;
  content: "";
  background: url("../img/icon_tkg.png") no-repeat;
  background-size: 100%;
}
@media all and (max-width: 768px) {
  .serviceList__item {
    margin: auto;
  }
}
@media all and (max-width: 768px) {
  .serviceList__item:nth-child(n+2) {
    margin: 10px auto 0;
  }
}
.serviceList__item:hover {
  opacity: 0.7;
  transform: scale(1.02);
  transition: 0.3s;
}
.serviceList__item__name {
  margin: 24px auto 0;
  font-size: 20px;
  font-weight: bold;
}
.serviceList__item__description {
  font-size: 13px;
  font-weight: bold;
  margin: 16px auto 0;
  text-align: center;
}
.serviceList__item__icon {
  display: block;
  width: 60px;
  height: 60px;
  margin: 16px auto 0;
  border-radius: 15px;
}
.serviceList__item__link {
  display: inline-block;
  width: 140px;
  margin: 20px auto 0;
  font-size: 0;
}
.serviceList__item__link:hover {
  cursor: pointer;
}
.serviceList__item__bnr {
  width: 100%;
}
/* Member */
.memberList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin: 32px auto 0;
  padding: 0;
  list-style: none;
}
.memberList__item {
  width: 300px;
  height: 300px;
  position: relative;
  background: #111;
  color: #fff;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 24px;
  opacity: 1;
  transition: 0.3s;
}
@media all and (max-width: 768px) {
  .memberList__item {
    margin: auto;
  }
}
@media all and (max-width: 768px) {
  .memberList__item:nth-child(n+2) {
    margin: 10px auto 0;
  }
}
.memberList__item:hover {
  background: rgba(0,0,0,0.85);
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.3s;
}
.memberList__item__name {
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: 28px;
  transition: 0.3s;
}
.memberList__item:hover .memberList__item__name {
  transform: translate(0, -90px);
  transition: 0.3s;
}
.memberList__item__profile {
  margin: auto;
  opacity: 0;
  transform: scale(0);
}
.memberList__item:hover .memberList__item__profile {
  display: block;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 25%;
  bottom: auto;
  height: 23px;
  font-size: 16px;
  transform: scale(1);
  transition: 0.3s;
  opacity: 1;
}
.memberList__item__role {
  line-height: 1.6;
}
