body {
  font-family: "YakuHanJPsLight", "proxima-nova", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
}
/* header */
header {
  max-width: 1080px;
  height: 100px;
  line-height: 100px;
  margin: auto;
}
header .logo {
  margin: auto;
  letter-spacing: 0.1em;
  font-size: 36px;
}
/* footer */
footer {
  max-width: 1080px;
  margin: 60px auto 0;
  height: 60px;
  line-height: 60px;
}
footer .copy {
  margin: auto 0;
}
section {
  max-width: 1080px;
  margin: auto;
}
section:nth-of-type(n+2) {
  padding-top: 80px;
}
.container {
  margin: auto;
}
.container__title {
  letter-spacing: 0.1em;
  font-size: 32px;
}
/* MV */
#mv {
  background: url("../img/mv.jpg") no-repeat 0 -160px;
  min-height: 480px;
  background-size: cover;
}
/* About */
.about__text {
  margin: 32px auto 0;
  line-height: 1.5;
  font-size: 20px;
  font-weight: bold;
}
/* Service */
.serviceList {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: auto;
  padding: 0;
  list-style: none;
}
.serviceList__item {
  width: 300px;
  height: 300px;
  line-height: 300px;
  background: #ddd;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 24px;
  opacity: 1;
  transition: 0.3s;
}
.serviceList__item:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.02);
  transition: 0.3s;
}
/* Member */
.memberList {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: auto;
  padding: 0;
  list-style: none;
}
.memberList__item {
  width: 300px;
  height: 300px;
  position: relative;
  background: #111;
  color: #fff;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 24px;
  opacity: 1;
  transition: 0.3s;
}
.memberList__item:hover {
  background: rgba(0,0,0,0.85);
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.3s;
}
.memberList__item__name {
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: 28px;
  transition: 0.3s;
}
.memberList__item:hover .memberList__item__name {
  transform: translate(0, -90px);
  transition: 0.3s;
}
.memberList__item__profile {
  margin: auto;
  opacity: 0;
  transform: scale(0);
}
.memberList__item:hover .memberList__item__profile {
  display: block;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 25%;
  bottom: auto;
  height: 23px;
  font-size: 16px;
  transform: scale(1);
  transition: 0.3s;
  opacity: 1;
}
.memberList__item__role {
  line-height: 1.6;
}
