body {
  font-family: "YakuHanJPsLight", "proxima-nova", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
  margin: 0;
}
@media all and (max-width: 768px) {
  body {
    margin: auto;
  }
}
section {
  margin: auto;
}
@media all and (max-width: 768px) {
  section {
    margin: 0 auto;
  }
}
section:nth-of-type(n+2) {
  padding: 80px 0;
}
@media all and (max-width: 768px) {
  section:nth-of-type(n+2) {
    margin: 0 3.125%;
    padding: 32px 0;
    border-bottom: dashed 1px #333;
  }
}
.container {
  max-width: 1080px;
  margin: auto;
  padding: 0 60px;
}
.container__title {
  letter-spacing: 0.1em;
  font-size: 24px;
  margin: auto;
  position: relative;
}
.container__title::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border: solid 6px #aaf;
  width: 90px;
  z-index: 1;
  opacity: 0.3;
}
.container__title.member::after {
  border: solid 6px #f44949;
}
@media all and (max-width: 768px) {
  .container__title {
    margin: auto;
    font-size: 24px;
    text-align: center;
  }
  .container__title::after {
    right: 0;
    margin: auto;
  }
}
/* header */
header {
  height: 100px;
  line-height: 100px;
  margin: 0;
}
@media all and (max-width: 768px) {
  header {
    margin: 0 3.125%;
    height: 72px;
    line-height: 72px;
  }
}
header .logo {
  margin: auto;
  letter-spacing: 0.1em;
  font-size: 36px;
}
@media all and (max-width: 768px) {
  header .logo {
    font-size: 28px;
    text-align: center;
  }
}
/* footer */
footer {
  max-width: 1080px;
  margin: 60px auto 0;
  height: 60px;
  line-height: 60px;
}
@media all and (max-width: 768px) {
  footer {
    margin: auto;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
}
footer .copy {
  margin: auto 0;
}
@media all and (max-width: 768px) {
  footer .copy {
    font-size: 12px;
  }
}
/* MV */
#mv {
  background: url("../img/img_mv.jpg") no-repeat 0 -160px;
  min-height: 480px;
  background-size: cover;
}
@media all and (max-width: 768px) {
  #mv {
    background: url("../img/img_mv.jpg") no-repeat center center;
    background-size: 120%;
    min-height: 213px;
    height: 66.567vw;
  }
}
/* About */
#about .about__text {
  margin: 32px auto 0;
  line-height: 1.5;
  font-size: 20px;
  font-weight: bold;
}
@media all and (max-width: 768px) {
  #about .about__text {
    margin: 20px auto 0;
    font-size: 14px;
    font-weight: bold;
  }
}
/* Service */
#service {
  background: #f0f8ff;
}
#service .serviceList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin: 32px auto 0;
  padding: 0;
  list-style: none;
}
@media all and (max-width: 768px) {
  #service .serviceList {
    margin: 28px auto 0;
  }
}
#service .serviceList__item {
  position: relative;
  width: 300px;
  height: 300px;
  background: #fff;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 24px;
  opacity: 1;
  transition: 0.3s;
  border-radius: 6px;
}
@media all and (max-width: 768px) {
  #service .serviceList__item {
    margin: auto;
  }
}
@media all and (max-width: 768px) {
  #service .serviceList__item:nth-child(n+2) {
    margin: 10px auto 0;
  }
}
#service .serviceList__item:hover {
  opacity: 0.7;
  transform: scale(1.02);
  transition: 0.3s;
}
#service .serviceList__item__name {
  margin: 24px auto 0;
  font-size: 20px;
  font-weight: bold;
}
#service .serviceList__item__description {
  font-size: 13px;
  font-weight: bold;
  margin: 16px auto 0;
  text-align: center;
}
#service .serviceList__item__icon {
  display: block;
  width: 60px;
  height: 60px;
  margin: 16px auto 0;
  border: solid 1px #ccc;
  border-radius: 15px;
}
#service .serviceList__item__link {
  display: inline-block;
  width: 140px;
  margin: 20px auto 0;
  font-size: 0;
}
#service .serviceList__item__link:hover {
  cursor: pointer;
}
#service .serviceList__item__bnr {
  width: 100%;
}
/* Member */
#member {
  background: #f7f7f7;
}
#member .memberList {
  display: flex;
  justify-content: space-between;
  margin: 32px auto 0;
  padding: 0;
}
#member .memberList__item {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  padding: 16px 12px;
  position: relative;
  background: #fff;
  list-style: none;
  color: #333;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 24px;
  opacity: 1;
  transition: 0.3s;
}
#member .memberList__item:hover {
  background: rgba(255,255,255,0.75);
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.3s;
}
@media all and (max-width: 768px) {
  #member .memberList__item {
    margin: auto;
  }
  #member .memberList__item:nth-child(n+2) {
    margin: 10px auto 0;
  }
}
#member .memberList__item__name {
  margin: auto;
}
#member .memberList__item__role {
  margin: auto;
}
